meta(name="description", content="3つの色を揃えるだけで、世界旅行をしたような気分になれるサイトです。")
meta(name="keywords", content="国旗, スロット, カラーコード")
meta(property="og:title", content="RGB TOUR")
meta(property="og:type", content="website")
meta(property="og:url", content="http://gonshi.github.io/rgb-tour/")
meta(property="og:image", content="http://gonshi.github.io/rgb-tour/img/ogp.jpg")
meta(property="og:site_name", content="gonshi.net")
meta(property="og:description", content="3つの色を揃えるだけで、世界旅行をしたような気分になれるサイトです。")
meta(name="twitter:card" content="summary_large_image")
meta(name="twitter:title" content="RGB TOUR")
meta(name="twitter:description" content="3つの色を揃えるだけで、世界旅行をしたような気分になれるサイトです。")
meta(name="twitter:image:src" content="http://gonshi.github.io/rgb-tour/img/ogp.jpg")
