////////////////////////////////////////
// Float Clearfix
////////////////////////////////////////

%cf {
    *zoom: 1;
    &:after {
        content : '';
        display : block;
        clear : both;
        height: 0;
    }
}

%fl {
    float: left;
    display: inline-block;
}
