////////////////////////////////////////
// defined global variables.
////////////////////////////////////////

// base font size
$baseFontSize: 13;

// base colors.
$baseTextColor: #000;
$baseBgColor: #fff;
$baseLinkColor: #000;
$baseVisitedColor: $baseLinkColor;
$baseHoverColor: $baseLinkColor;
$baseActiveColor: $baseLinkColor;

// theme colors.

// zIndex
$zModal: 10000;
$zFloat: 100;

// base border-radius
$baseBorderRadius: 3px;
