////////////////////////////////////////
// Legacy Hack
////////////////////////////////////////

@mixin pie {
    behavior: url('/pie/PIE.htc');
}


@mixin opacity($opacity) {
    $ieopacity: $opacity*100;
    opacity: $opacity;
    filter: alpha(opacity= #{$ieopacity});
    -ms-filter: "alpha(opacity=#{$ieopacity})";
}

@mixin iepng($src) {
    filter: progid:DXImageTransform.Microsoft.AlphaImageloader(src='#{$src}',sizingMethod='crop');
}


@mixin minHeight($px) {
    min-height: $px;
    height: auto !important;
    height: $px;
}

@mixin minWidth($px) {
    min-width: $px;
    width: auto !important;
    width: $px;
}

@mixin inlineBlock {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}