////////////////////////////////////////
// Venderprefix
////////////////////////////////////////
$use-prefix-webkit: true;
$use-prefix-moz   : true;
$use-prefix-ms    : false;
$use-prefix-o     : false;

@mixin prefix($property, $value) {
    @if $use-prefix-webkit { -webkit-#{$property}: #{$value}; }
    @if $use-prefix-moz    {    -moz-#{$property}: #{$value}; }
    @if $use-prefix-ms     {     -ms-#{$property}: #{$value}; }
    @if $use-prefix-o      {      -o-#{$property}: #{$value}; }
                                     #{$property}: #{$value};
}
@mixin prefixValue($property, $value) {
    @if $use-prefix-webkit { #{$property}: -webkit-#{$value}; }
    @if $use-prefix-moz    { #{$property}:    -moz-#{$value}; }
    @if $use-prefix-ms     { #{$property}:     -ms-#{$value}; }
    @if $use-prefix-o      { #{$property}:      -o-#{$value}; }
                             #{$property}:         #{$value};
}

@mixin prefixBoth($property, $value) {
    @if $use-prefix-webkit { -webkit-#{$property}: -webkit-#{$value}; }
    @if $use-prefix-moz    {    -moz-#{$property}:    -moz-#{$value}; }
    @if $use-prefix-ms     {     -ms-#{$property}:     -ms-#{$value}; }
    @if $use-prefix-o      {      -o-#{$property}:      -o-#{$value}; }
                                     #{$property}:         #{$value};
}
@mixin prefixKeyframes($name) {
    @if $use-prefix-webkit {
        @-webkit-keyframes #{$name} {
            @content;
        }
    }
    @if $use-prefix-moz {
        @-moz-keyframes #{$name} {
            @content;
        }
    }
    @if $use-prefix-ms {
        @-ms-keyframes #{$name} {
            @content;
        }
    }
    @if $use-prefix-o {
        @-o-keyframes #{$name} {
            @content;
        }
    }
    @keyframes #{$name} {
        @content;
    }
}