extends /layout/_application
block title
  title RGB TOUR 
block body
  #wrapper
    div.slotContainer
      div#filter
      p.flag
        img(src="img/flag/white.jpg" alt="国旗")

      div#map

      p.countryName
        span.text
      p.countryFlagWiki
        span.sentence
      div.slot
        div.firstLayer
          p.stop
            button STOP!
        div.secondLayer
          p.stop
            button STOP!
        div.thirdLayer
          p.stop
            button STOP!

    p.loader
      span L
      span O
      span A
      span D
      span I
      span N
      span G

    p.arrow
      button
        img(src="img/arrow.png" alt="下へ")

    p.photoTitle
    div.photoContainer
    p.moreBtn
      button もう一度遊ぶ
    footer#footer
      p.copyright
        a(href="https://twitter.com/gonshi_com" target="_blank") &copy; gonshi
      div.social
        p.twitter
          a.twitter-share-button(href="https://twitter.com/share" data-lang="ja" data-text="RGB TOUR｜世界は3色でできている！？") ツイート
        div.fb-like(data-href="http://gonshi.github.io/rgb-tour/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false")
