extends /layout/_application
block title
  title 
block body
  #wrapper
    p.flag
      img(src="img/flag/white.jpg" alt="国旗")
    div#map
    p.countryName
    p.countryFlagWiki
      span.sentence
    div.slot
      div.firstLayer
      div.secondLayer
      div.thirdLayer
    div.photoContainer
