extends /layout/_application
block title
  title 
block body
  #wrapper
    div.slotContainer
      div#filter
      p.flag
        img(src="img/flag/white.jpg" alt="国旗")
      div#map
      p.countryName
      p.countryFlagWiki
        span.sentence
      div.slot
        div.firstLayer
        div.secondLayer
        div.thirdLayer
    p.loader
      span L
      span O
      span A
      span D
      span I
      span N
      span G
    div.photoContainer
    p.moreBtn
      button もう一度
