extends /layout/_application
block title
  title 
block body
  #wrapper
    p.flag
      img(src="img/flag/spain.jpg" alt="国旗")
    div#map
    div.slot
      div.firstLayer
      div.secondLayer
      div.thirdLayer
