extends /layout/_application
block title
  title HelloWorld
block body
  #wrapper
    main.main-content
      h1 テンプレート
      p= dummy.text

      .mod_markdown
        include:markdown /markdown/sample.md
