include /mixin/_conditionalComment
doctype html
html(lang='ja')
  head
    meta(charset='UTF-8')
    block title
    block meta
      include /include/meta/_basicinfo
    block style
      link(rel='stylesheet', href='/css/main.css', media='screen, print')
    +ltIE9
      script(src='/js/lib/html5shiv.js')
  body
    block body

    block scripts
      each val in libs
        script(src=val)
      if prod
        script(src='/js/app.min.js')
      else
          each val in sc
            script(src=val)
