// common
#wrapper{
	position: relative;
  width: 100%;
  height: 100%;
  background: #fafafa;
}

#filter{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: image-url("filter.png") repeat;
  pointer-events: none;
  opacity: 0.3;
  z-index: $zFloat;

  @include single-transition( opacity, 0.5s, ease, 0s );

  &.hide{
    opacity: 0;
  }
}
//////////

.slotContainer{
  position: relative;
}

// map
#map{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	opacity: 0;
	@include single-transition(opacity, 0.5s, ease, 0s);
	&.show{
		opacity: 1;
	}
}
/////////////

// flag
.flag{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	img{
		width: inherit;
		height: inherit;
	}
}
//////////////

// slot
.slot{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.firstLayer, .secondLayer, .thirdLayer{
    position: relative;
		width: 100%;
		height: 33.3%;
		cursor: pointer;
		&.selected{
			cursor: auto;
		}

    .stop button{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 300px;
      height: 80px;
      margin: auto;
      color: #fff;
      font-size: 32px;
      text-shadow: 2px 0px 0px #4d4d4d, -1.74661px -0.97435px 0px #4d4d4d, 1.05064px 1.70181px 0px #4d4d4d, -0.08846px -1.99804px 0px #4d4d4d, -0.89615px 1.78799px 0px #4d4d4d, 1.65367px -1.12488px 0px #4d4d4d, -1.99218px 0.17674px 0px #4d4d4d, 1.82588px 0.81619px 0px #4d4d4d, -1.19692px -1.60231px 0px #4d4d4d, 0.26467px 1.98241px 0px #4d4d4d, 0.73464px -1.86019px 0px #4d4d4d, -1.5478px 1.26662px 0px #4d4d4d, 1.96876px -0.35209px 0px #4d4d4d, -1.89086px -0.65165px 0px #4d4d4d, 1.33383px 1.49027px 0px #4d4d4d, -0.43882px -1.95127px 0px #4d4d4d, -0.56738px 1.91783px 0px #4d4d4d;
      &.delete{
        @include animation( delete 0.5s ease 0s forwards );
      }
    }
	}
}
///////////////

//  countryName
.countryName{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  font-size: 60px;
	@include single-transition(opacity, 0.5s, ease, 0s);

  .text{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    opacity: 0;

    &.show{
      opacity: 1;
    }
  }
}
/////////////////

//  countryFlagWiki 
.countryFlagWiki{
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 50%;

  .sentence{
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    @include single-transition(opacity, 0.5s, ease, 0s);

    &.show{
      opacity: 1;
    }
  }
}
/////////////////

.loader{
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-family: 'Chango';
  font-size: 64px;
  letter-spacing: 8px;
  color: transparent;

  &.show{
    display: block;
  }

  span{
    text-shadow:
      0 0 2px rgba(204, 208, 212,0.9),
      0 15px 25px rgba(0, 0, 0, 0.3),
      0 -2px 3px rgba(0, 0, 0, 0.1),
      0 -5px 10px rgba(255, 255, 255, 0.5),
      0 5px 10px rgba(0, 0, 0, 0.3),
      0 3px 4px rgba(255, 255, 255, 0.2),
      0 0 20px rgba(255, 255, 255, 0.45);
    @include animation(loading 0.85s ease-in-out infinite alternate);
  }
}

.arrow{
  display: none;
  position: fixed;
  right: 0;
  bottom: 40px;
  left: 0;
  width: 120px;
  margin: auto;
  z-index: $zFloat;
  @include animation( arrowMove 0.75s linear 0s alternate infinite );

  img{
    width: 120px;
  }
}

@include keyframes(loading){
  to{
    text-shadow:
      0 0 2px rgba(204, 208, 212,0.2),
      0 0 3px rgba(0, 0, 0, 0.02),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(255, 255, 255, 0),
      0 0 0 rgba(0, 0, 0, 0),
      0 0 0 rgba(255, 255, 255, 0),
      0 0 0 rgba(255, 255, 255, 0);
  }
}

.loader span:nth-child(2) {
  @include animation-delay(0.15s);
}

.loader span:nth-child(3) {
  @include animation-delay(0.30s);
}

.loader span:nth-child(4) {
  @include animation-delay(0.45s);
}

.loader span:nth-child(5) {
  @include animation-delay(0.60s);
}

.loader span:nth-child(6) {
  @include animation-delay(0.75s);
}

.loader span:nth-child(7) {
  @include animation-delay(0.90s);
}

// photoContainer
.photoContainer{
  position: relative;
  width: 100%;
  height: 0;
  @include clearfix;

  .photo{
    position: absolute;

    img{
      width: 100%;
    }
  }
}

.moreBtn{
  display: none;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 0 100px;
  text-align: center;

  &.show{
    display: block;
  }

  button{
    padding: 5px 30px;
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 0px 0px #4d4d4d, -1.74661px -0.97435px 0px #4d4d4d, 1.05064px 1.70181px 0px #4d4d4d, -0.08846px -1.99804px 0px #4d4d4d, -0.89615px 1.78799px 0px #4d4d4d, 1.65367px -1.12488px 0px #4d4d4d, -1.99218px 0.17674px 0px #4d4d4d, 1.82588px 0.81619px 0px #4d4d4d, -1.19692px -1.60231px 0px #4d4d4d, 0.26467px 1.98241px 0px #4d4d4d, 0.73464px -1.86019px 0px #4d4d4d, -1.5478px 1.26662px 0px #4d4d4d, 1.96876px -0.35209px 0px #4d4d4d, -1.89086px -0.65165px 0px #4d4d4d, 1.33383px 1.49027px 0px #4d4d4d, -0.43882px -1.95127px 0px #4d4d4d, -0.56738px 1.91783px 0px #4d4d4d;
  }
}

#footer{
  display: none;
  position: absolute;
  right: 0;
  bottom: 10px;
  left: 0;
  width: 200px;
  margin: auto;
  text-align: center;

  &.show{
    display: block;
  }

  .copyright{
    margin: 10px auto;
  }

  .social{
    @include clearfix;
  }

  .twitter{
    float: left;
  }

  .fb-like{
    float: right;
  }
}
