// common
#wrapper{
	position: relative;
  width: 100%;
  height: 100%;
}

#filter{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: image-url("filter.png") repeat;
}
//////////

// map
#map{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50%;
	height: 50%;
	opacity: 0;
	@include single-transition(opacity, 0.5s, ease, 0s);
	&.show{
		opacity: 1;
	}
}
/////////////

// flag
.flag{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	img{
		width: inherit;
		height: inherit;
	}
}
//////////////

// slot
.slot{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	.firstLayer, .secondLayer, .thirdLayer{
		width: 100%;
		height: 33.3%;
		cursor: pointer;
		&.selected{
			cursor: auto;
		}
	}
}
///////////////

//  countryName
.countryName{
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  font-size: 60px;
  text-align: center;
	opacity: 0;
	@include single-transition(opacity, 0.5s, ease, 0s);
	&.show{
		opacity: 1;
	}
}
/////////////////

//  countryFlagWiki 
.countryFlagWiki{
  position: absolute;
  top: 50%;
  left: 0;
  width: 50%;
  height: 50%;

  .sentence{
    display: table-cell;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    @include single-transition(opacity, 0.5s, ease, 0s);

    &.show{
      opacity: 1;
    }
  }
}
/////////////////

// photoContainer
.photoContainer{
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  height: 0;
  @include clearfix;

  .photo{
    position: absolute;

    img{
      width: 100%;
    }
  }
}
